.table-pagination {
  display: flex;
  margin: 0 auto;
  width: 50px;
  margin-top: 10px;
}

.pagination-container {
  width: 100%;
  margin: 0 auto;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.pagination-list__item {
  .pagination-list-link {
    font-weight: 700;
    padding: 5px 10px;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgba(155, 155, 155, 0.4);
    border-radius: 5px;
    color: wheat;

    transition: 0.4s ease;

    &:hover {
      background-color: rgb(84, 84, 84);
      color: wheat;
      border: 1px solid rgba(191, 191, 191, 0.8);
      animation: pulse-border 1.5s ease-in-out 0.5s infinite;
    }
  }
}

@keyframes pulse-border {
  0% {
    border: 1px solid rgba(191, 191, 191, 0.8);
    color: wheat;
  }
  50% {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
  }
  100% {
    border: 1px solid rgba(191, 191, 191, 0.8);
    color: wheat;
  }
}
