@import '../../style/variables.scss';

.App {
  padding: 50px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-container {
  text-align: center;
  width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: all 0.5s ease;

  @media (max-width: $mediaSmallTablets) {
    width: 380px;
    font-size: 12px;
  }
  @media (max-width: $mediaPhones) {
    width: 345px;
    font-size: 13px;
  }
  @media (max-width: $mediaSmallPhones) {
    width: 265px;
    font-size: 10px;
  }
}

.search-panel {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    height: 100%;

    &::placeholder {
      color: rgb(132, 119, 96);
    }

    @media (max-width: $mediaSmallTablets) {
      width: 100%;
      height: 25px;
      margin-bottom: 10px;
    }
  }
  &__select {
    @media (max-width: $mediaSmallTablets) {
      height: 25px;
    }
  }

  @media (max-width: $mediaSmallTablets) {
    flex-wrap: wrap;
  }
}

.select-style {
  @media (max-width: $mediaSmallTablets) {
    width: 40%;
  }
}

.input-style {
  font-weight: 700;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgba(155, 155, 155, 0.4);
  border-radius: 5px;
  color: wheat;
  outline: 2px solid transparent;
  padding: 0px 3px;

  transition: 0.4s ease;

  &:focus {
    outline: 2px solid rgb(132, 119, 96);
  }
}

.search-panel-option--default {
  color: rgb(122, 114, 98);
}
